worker.exe
coordinator.exe
1GB.txt
2GB.txt
3GB.txt
4GB.txt
5GB.txt
6GB.txt
texto.txt
wiki_concatenated.txt.zip
Alice_in_Wonderland.txt
*.vscode
*.idea
*.txt
*.zip
texto
wiki_concatenated*
1GB*
2GB*
3GB*
4GB*
5GB*
6GB*
worker_comentarios.cpp
coordinator_comentarios.cpp
*Diagramas
*.pdf
*.png
Informe.pdf